<%
/**
 * @typedef {object} Education
 * @property {string} institution Education institution
 * @property {string} startDate Education start date
 * @property {string} endDate Education end date
 * @property {string} area Education area
 * @property {string} studyType Education study type
 * @property {string} gpa Education GPA
 * @property {array.<string>} courses Education courses
 *
 * [Section] Education
 * @param {array.<Education>} education
 */
%>

<% if (education && Array.isArray(education) && education.length > 0) { %>
  <section id="education" class="row">
    <aside class="col-sm-3">
      <h3>Education</h3>
    </aside>
    <div class="col-sm-9">
      <div class="row">
        <% education.forEach((e) => { %>
          <div class="col-sm-12">
            <h4 class="strike-through">
              <span><%= e.institution %></span>
              <span class="date">
                <%= this.prettyDate(e.startDate) %> — <%= this.prettyDate(e.endDate) || 'Now' %>
              </span>
            </h4>
            <div class="area"><%= e.area %></div>
            <div class="studyType">
              <%= e.studyType %>
              <% if (e.gpa) { %>
                (<%= e.gpa %>)
              <% } %>
            </div>
            <% if (e.courses && Array.isArray(e.courses) && e.courses.length > 0 ) { %>
              <h4>Courses</h4>
              <% e.courses.forEach((course) => { %>
                <ul class="courses">
                  <li><%= course %></li>
                </ul>
              <% }); %>
            <% } %>
          </div>
        <% }); %>
      </div>
    </div>
  </section>
<% } %>
